<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/static/styles/index.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/2.jpg" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Bartosz Wróblewski</h1>
			<h2 class="quickFade delayThree">Financial analyst/web developer</h2>

<!--
            <h2 class="quickFade delayThree">My
                <a href="https://github.com/barciewicz">GitHub</a> profile
            </h2>
-->
           
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e-mail: <a href="mailto:bartoszwroblewski2@bgmail.com" target="_blank">bartoszwroblewski2@gmail.com</a></li>
				<!-- <li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li> -->
				<li>mobile: 888 857 056</li>
                <li>GitHub: <a href="https://github.com/bartwroblewski">https://github.com/bartwroblewski</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I am an ambitious professional with background in P2P and customer relations. I have delivered consistently high level of
performance in positions that have required analytical and organization skills. Strongly focused on
process automations and improvements.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work experience</h1>
			</div>
			
			<div class="sectionContent">
            
				<article>
					<h2 class="job-name">Data Collection & Reporting Specialist</h2>
					<h3>Credit Suisse</h3>
					<p class="subDetails">April 2011 - Present</p>
					<p>
                        <ul class="tasklist">
                            <li>optimizing daily processes with scripts and spreadsheet/web browser automations in VBA/Python</li>
                            <li>analysis/visualization of company's marketing data with Python/MS Access/VBA/Power BI</li>
                            <li>delivering customized and highly automated financial reports to stakeholders</li>
                            <li>supervision of the team's codebase and database and their quality</li>
                            <li>introducing new tools to the team (Python, Power BI)
                            <li>managing marketing department's internal controlling application and supporting its users</li>
                            <li>providing Excel trainings</li>
                        </ul>
                    </p>
				</article>
                
                <article>
					<h2 class="job-name">Accounts Payable Specialist with Czech</h2>
					<h3>Hewlett-Packard Enterprise</h3>
					<p class="subDetails">April 2011 - Present</p>
					<p>
                        <ul class="tasklist">
                            <li>improving daily processes with VBA automations (active Kaizen)</li>
							<li>proactively identifying opportunities for process improvements</li>
                            <li>managing vendor relations</li>
							<li>overseeing timely and accurate booking of invoices for Czech and Slovakian markets</li>
                            <li>producing daily, weekly and monthly reports</li>
							<li>performing internal audits and controls</li>
                            <li>cooperating closely with vendor management and payment teams</li>
                        </ul>
                    </p>
				</article>
                
                <article>
                    <h2 class="job-name">Porter</h2>
					<h3>Haston City Hotel</h3>
					<p class="subDetails">April 2011 - Present</p>
					<p>
                        <ul class="tasklist">
                            <li>setting up meeting rooms and audiovisual equipment in a four-star congress centre</li>
                            <li>providing service to hotel guests and assisting at conferences</li>
                            <li>maintenance work</li>
                        </ul>
                    </p>
				</article>
                
                <article>
                    <h2 class="job-name">Junior Editor</h2>
					<h3>Wydawnictwo Uniwersytetu Wrocławskiego</h3>
					<p class="subDetails">April 2011 - Present</p>
					<p>
                        <ul class="tasklist">
                            <li>editing and proofreading of publications in Polish, English and Czech</li>
							<li>creating book blurbs and content for the company's website</li>
							<li>meeting authors</li>
                            <li>cooperating with DTP editors and graphic designers</li>
                        </ul>
                    </p>
				</article>
				

			</div>
			<div class="clear"></div>
		</section>
        
        <section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Wrocław</h2>
					<p class="subDetails">2004-2009, master's degree</p>
					<p>Slavic studies, profile: Czech</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Key technical skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Languages: Python, JavaScript, VBA, basic SQL</li>
					<li>Backend: Django, Flask</li>
					<li>Frontend: HTML, CSS</li>
					<li>Version control: Git</li>
                    <li>Deployment: Gunicorn, NGINX; DigitalOcean/Heroku </li>
                    <li>System: Linux, bash</li>
					<li>Other: Excel, PowerBI</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
        
        <section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keyLanguageSkills">
					<li>fluent English</li>
					<li>fluent Czech</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>
