<!DOCTYPE html>
<html>
<head>
<title>CV</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="/static/styles/index.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
	strong {
		font-weight: bold;
	}
</style>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/DSC_1498b_lowerquality.jpg" alt="no pic" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Bartosz Wróblewski</h1>

			<h2 class="quickFade delayThree">Full-stack developer</h2>


<!--
            <h2 class="quickFade delayThree">My
                <a href="https://github.com/barciewicz">GitHub</a> profile
            </h2>
-->
           
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Mobile: 888 857 056</li>
				<li>E-mail: <a href="mailto:bartoszwroblewski2@gmail.com" target="_blank">bartoszwroblewski2@gmail.com</a></li>
				<!-- <li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li> -->
                <li>GitHub: <a href="https://github.com/bartwroblewski">https://github.com/bartwroblewski</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<!-- <section>
			<article>
				<div class="sectionTitle">
					<h1>Profile</h1>
				</div>
				
				<div class="sectionContent">
                    <p>
                        I am coming from a finance background with strong focus on programming. My key areas of interest are web development and process automation<br>(4 years of experience).</p>
				</div>
			</article>
			<div class="clear"></div>
		</section> -->
        
        <section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Languages: Python, TypeScript, HTML, CSS, VBA</li>
					<li>Backend: Django, Flask, FastApi</li>
					<li>Frontend: React, Webpack, Vite</li>
					<li>Testing: unittest, pytest, Jest</li>
					<li>Databases: MongoDB, SQLite</li>
					<li>Deployment: Docker, NGINX, Gunicorn, Heroku, DigitalOcean</li>
					<li>Version control: Git, GitHub, Bitbucket</li>
                    <!-- <li>Methodologies: TDD, DDD, Agile/Scrum</li> -->
					<li>Other: PowerBI, Jira, Excel, MS Access</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Experience</h1>
			</div>
			
			<div class="sectionContent">

				<article>
					<h2 class="job-name">Full-stack developer</h2>
					<h3>Credit Suisse</h3>
					<p class="subDetails">June 2021 - now</p>
					<p>
								<p>
									Full-stack development of an internal web application meant for tracking liquidity events and finding potential wealthy customers for the bank. The app automated the manual step of gathering data from multiple internal and external
									sources and provided both nuanced and clear insights on the collected information.
								</p>
								<p>
									Project's tech stack: Python, Flask/FastApi, MongoDB, TypeScript, React, Webpack/Vite, Docker, Jenkins, Kubernetes, OpenShift.
								</p>
									Highlights of my work on the project:
										<ul class="tasklist tasklist__indented">
											<li>designed and executed migration from server-side rendered to REST-based architecture,</li>
											<li>improved performance and user experience with asynchronous features,</li>
											<li>refactored highly coupled, deeply nested core legacy code.</li>
										</ul>
									<br>
							        I have also:
										<ul class="tasklist tasklist__indented">
											<li>reviewed code on daily basis,</li>
											<li>actively participated in Scrum ceremonies,</li>
											<li>provided guidance to other developers.</li>
										</ul>
                    </p>
				</article>
            
				<article>
					<h2 class="job-name">Data Collection & Reporting Specialist</h2>
					<h3>Credit Suisse</h3>
					<p class="subDetails">October 2017 - June 2021</p>
					<p>
                        <ul class="tasklist">
                            <li>optimizing daily processes with scripts and spreadsheet/web browser automations in Python/VBA. Highlight: I have reduced the daily time consumption of one of the core processes from 2 hours to 30 minutes</li>
                            <li>analysis/visualization of company's marketing data with Python/MS Access/VBA/Power BI. Creating Django/Flask-powered prototypes for further development in PowerBI</li>
                            <li>delivering customized and highly automated financial reports to stakeholders</li>
                            <li>supervision of the team's codebase and database and their quality</li>
                            <li>introducing new tools to the team (Python, Power BI)
                            <li>managing marketing department's internal controlling application and supporting its users</li>
                            <li>providing Excel trainings</li>
                        </ul>
                    </p>
				</article>
                
                <article>
					<h2 class="job-name">Accounts Payable Specialist with Czech</h2>
					<h3>Hewlett-Packard Enterprise</h3>
					<p class="subDetails">August 2016 - October 2017</p>
					<p>
                        <ul class="tasklist">
                            <li>improving daily processes with VBA automations (active Kaizen)</li>
							<li>proactively identifying opportunities for process improvements</li>
                            <li>managing vendor relations</li>
							<li>overseeing timely and accurate booking of invoices for Czech and Slovakian markets</li>
                            <li>producing daily, weekly and monthly reports</li>
							<li>performing internal audits and controls</li>
                            <li>cooperating closely with vendor management and payment teams</li>
                        </ul>
                    </p>
				</article>
                
                <article>
                    <h2 class="job-name">Porter</h2>
					<h3>Haston City Hotel</h3>
					<p class="subDetails">August 2013 - July 2016</p>
					<p>
                        <ul class="tasklist">
                            <li>setting up meeting rooms and audiovisual equipment in a four-star congress centre</li>
                            <li>providing service to hotel guests and assisting at conferences</li>
                            <li>maintenance work</li>
                        </ul>
                    </p>
				</article>
                
                <article>
                    <h2 class="job-name">Junior Editor</h2>
					<h3>Wydawnictwo Uniwersytetu Wrocławskiego</h3>
					<p class="subDetails">January 2010 - July 2012</p>
					<p>
                        <ul class="tasklist">
                            <li>editing and proofreading of publications in Polish, English and Czech</li>
							<li>creating book blurbs and content for the company's website</li>
							<li>meeting authors</li>
                            <li>cooperating with DTP editors and graphic designers</li>
                        </ul>
                    </p>
				</article>
                
			</div>
			<div class="clear"></div>
		</section>
        
        <section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of Wrocław</h2>
					<p class="subDetails">2004-2009, master's degree</p>
					<p>Slavic studies, profile: Czech</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		
        
        <section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keyLanguageSkills">
					<li>fluent English</li>
					<li>fluent Czech</li>
				</ul>
			</div>
            
			<div class="clear"></div>
		</section>
		
	</div>
    <!-- <div id="closure">
		Zgadzam się na przetwarzanie przez … danych osobowych zawartych w moim zgłoszeniu rekrutacyjnym dla celów przyszłych rekrutacji.
    </div> -->
</div>

</body>
</html>
